/****** HOMEPAGE ******/


.header-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #758478;
    color: var(--primary-color);
    padding:0 2rem;
    margin: 4rem 0;
    height: 40px;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 6rem;
    justify-content: center;
}

.home img{
    width:70%;
}

.home p{
    width: 70%;
    text-align: center;
}

/****** GAMEPAGE ******/

.mood-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-row{
    display: flex;
    align-items: center;

}
.stat-bar {
    border: solid 2px #758478;
    border-radius: 8px;
}

.stat-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 2rem;
}