/****** RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

#root {
    width: 100%;
    max-width: 500px;
}

/****** FONTS ******/

@font-face {
    font-family: "inter-bold";
    src: url(public/fonts/inter_bold.ttf);
}

@font-face {
    font-family: "inter-regular";
    src: url(public/fonts/inter_regular.ttf);
}

h2 {
    font-family: "inter-bold";
    font-size: 1.125rem;
    text-transform: capitalize;
    color: #ffffff;
}

h4 {
    font-family: "inter-regular";
    font-size: 0.875rem;
}

p {
    font-family: "inter-regular";
    font-size: 1.125rem;
    text-align: center;
}

span {
    font-family: "inter-bold";
    font-size: 1.125rem;
}

a {
    font-family: "inter-bold";
    text-decoration: none;
}


/****** COLORS ******/

:root {
    --primary-color: #758478;
    --background-color: #EEEADE;
    --warning-color: #E7A05A;
    --danger-color: #E75A5A;
}


/****** BUTTONS ******/

.primary-btn, .restart-btn {
    width: 100%;
    max-width: 280px;
    padding: 1rem;
    font-size: 1.125rem;
    margin-top: 2rem;
    text-align: center;
    background: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
}

.cta-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 1rem;
    height: auto;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #758478;
    color: #fff;
    font-size: 1.125rem;
    border-radius: 10px;
}

/****** RESPONSIVE ******/

@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem;
    }

    p, span {
        font-size: 1rem;
    }

    .header-bar {
        margin: 1.5rem 0;
        padding: 0 1rem;
    }

    .stat-container {
        margin: 0.5rem;
    }
}
